<div class="navbar navbar-default container-fluid" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Cofeeshops', home_path, class: 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse navbar-right">

    <% if signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Profile", current_user %></li>

          <li><a href="#">Publications</a></li>

          <li><%= link_to signout_path, method: "delete" do %>
                <i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        </ul>
    <% else %>
        <ul class="nav navbar-nav">
          <li>
            <%= link_to signin_path, id: "Signin" do %>
                <i class="fa fa-user fa-lg"></i>
            <% end -%>
          </li>
        </ul>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><% provide(:title, "Login") %>

    <%= form_for(:session, url: sessions_path) do |f| %>
      
      <div class="form-group">
      <%= f.label :email, class:"control-label"%>
      <%= f.text_field :email, class:"form-control"  %>
      </div>
      <div class="form-group">
      <%= f.label :password, class:"control-label" %>
      <%= f.password_field :password, class:"form-control" %>
      </div>
      
      <%= f.submit "Sign in", class: "btn btn-success" %>
      
   
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
  <div class="col-md-4"></div>
</div>


 