
 




<div class="row">
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <div class="col-xs-6 col-sm-4"> 
  <div class= "fluid-container">

      <% provide(:title, 'Sign up') %>
      <h1>Sign up</h1>

      <%= bootstrap_form_for(@user) do |f| %>


      <%= f.text_field :name %>


      <%= f.text_field :email %>


      <%= f.password_field :password, help: "Must be at least 6 characters long" %>


      <%= f.password_field :password_confirmation, help: "Must be at least 6 characters long" %>
      <%= f.form_group do %>
      <%= f.submit"Sign Up", class: "btn btn-success"  %>
      <% end %>

      <% end %>
  </div>
  </div>
      <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
</div>
<!-- <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <input class="form-control" type="text" placeholder="Email address">
</div> -->