<table class="table table-responsive table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Title</th>
      </tr>
  </thead>

  <tbody>
  <%= will_paginate @ganjalocs, previous_label: h("<"), next_label: h(">") 
 %>
    <% @ganjalocs.each do |ganjaloc| %>
      <tr>
        <td><%= ganjaloc.latitude %></td>
        <td><%= ganjaloc.longitude %></td>
        <td><%= ganjaloc.address %></td>
        <td><%= ganjaloc.description %></td>
        <td><%= ganjaloc.title %></td>
        <td><%= link_to 'Show', ganjaloc, class:"btn btn-xs btn-info" %></td>
        <td><%= link_to 'Edit', edit_ganjaloc_path(ganjaloc), class:"btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Destroy', ganjaloc, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
