
<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @ganjaloc.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ganjaloc.longitude %>
</p>

<p>
  <strong>Addressl:</strong>
  <%= @ganjaloc.address %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ganjaloc.title %>
</p>


<%= link_to 'Edit', edit_ganjaloc_path(@ganjaloc) %> |
<%= link_to 'Back', ganjalocs_path %>

